body{
    background-image: url("LOTR.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

h1 {
    color: white;
    font-size: 70px;
}

#input{
    position: flex;
    border: 2px solid black;
    width: 500px;
    height: 100px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: cursive;
}
textarea{
    font-size: 30px;
    text-align: center;
    opacity: 60%;
}

#output{
    display:block;
    margin: auto;
    opacity: 70%;
    background-color: rgb(242, 241, 241);
    border: 2px solid black;
    width: 500px;
    height: 100px;
    margin-top:2%;
    padding: 1rem;
    border-radius: 10px;
    font-family: cursive;

}

#btn-translate{
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    font-family: cursive;
}

#bgFooter{
    text-align: center;
    font-family: cursive;
}

p {
    color: aliceblue;
    font-size: 20px;
}